{
  email contact@ben-to.fr
  servers {
    protocols h1 h2 h3
  }
}

# Domaine Infomaniak
{$DOMAIN} {
  tls {
    dns infomaniak {env.INFOMANIAK_API_TOKEN}
    propagation_timeout 15m
  }

  reverse_proxy localhost:3000 {
    health_timeout 5s
    health_interval 30s
    health_path /
    health_status 200
  }

  encode gzip

  log {
    output file /var/log/caddy/access.log {
      roll_size 10MiB
      roll_keep 5
      roll_keep_for 168h
    }
    format json
  }
}

# Domaine OVH
bento.ovh {
  tls {
    dns ovh {
      endpoint ovh-eu
      application_key {env.OVH_APPLICATION_KEY}
      application_secret {env.OVH_APPLICATION_SECRET}
      consumer_key {env.OVH_CONSUMER_KEY}
    }
    propagation_timeout 15m
  }

  reverse_proxy localhost:3000 {
    health_timeout 5s
    health_interval 30s
    health_path /
    health_status 200
  }

  encode gzip

  log {
    output file /var/log/caddy/access.log {
      roll_size 10MiB
      roll_keep 5
      roll_keep_for 168h
    }
    format json
  }
}
